<h3>Product List</h3>

@code {

    [EditorRequired]
    [Parameter]
    public List<Product> Products { get; set; } = new();

    [Parameter]
    public bool DisplayBuyButton { get; set; } = false;
}
